<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="./css/prettify-1.0.css" rel="stylesheet">
    <link href="./css/base.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    
    
    
    <title>Schedules</title>
</head>
<body>

    <div class="jumbotron" style="text-align: center;">
      <h1 class="display-4">Select the appropriate Delivery Date</h1>
        <div class="container">
            <div class="row" style="margin-left: 354px;padding-top: 50px;">
               <div class='col-sm-6'>
                  <div class="form-group">
                     <div class='input-group date' id='datetimepicker5' style="align-self: center;">
                        <form action="/" method="post">
                            <input style="float:right;" type='text' name="date" class="form-control" />
                            
                            <button style="margin-top: 20px;" class="btn btn-primary btn-lg" type="submit"> Filter </button>
                        </form>
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="jumbotron">
        <h2 class="display-1" style="text-align: center;">All Schedules Are Listed Below</h2>
      </div>

      <% for (var i=0; i < keys.length; i++) { %>
        
        <div class="col-md-3">
            <div class="well" style="padding: 8px;">
              <ul class="nav nav-list">
                <li>
                  <label class="tree-toggler nav-header">
                    <b>
                        <label>Schedule Date -->  </label>
                
                        <%= keys[i] %>

                        <br>

                        <label>Number Of Item Scheduled For [ <%= keys[i] %> ]  --  </label>
                
                        <%= counter[i].count %>

                    </b>
                  </label>
                  <ul class="nav nav-list tree" style="display: block;">

                    
                        <%if(holder[keys[i]]["0-3"] != undefined){ %>
                            <li>
                                <a href="#">
                                  <label> 0 AM to 3 AM --> </label>
                                  <%= holder[keys[i]]["0-3"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["3-6"] != undefined) { %>
                            <li>
                                <a href="#">
                                  <label> 3 AM to 6 AM --> </label>
                                  <%= holder[keys[i]]["3-6"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["6-9"] != undefined) { %>
                            <li>
                                <a href="#">
                                    <label>6 AM to 9 AM --></label>
                                    <%= holder[keys[i]]["6-9"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["9-12"] != undefined) { %>
                            <li>
                                <a href="#">
                                    <label>9 AM to 12 AM --> </label>
                                    <%= holder[keys[i]]["9-12"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["12-15"] != undefined) { %>
                            <li>
                                <a href="#">
                                    <label>12 PM to 3 PM --> </label>
                                    <%= holder[keys[i]]["12-15"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["15-18"] != undefined) { %>
                            <li>
                                <a href="#">
                                    <label>3 PM to 6 PM --> </label>
                                    <%= holder[keys[i]]["15-18"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["18-21"] != undefined) { %>
                            <li>
                                <a href="#">
                                    <label>6 PM to 9 PM --> </label>
                                    <%= holder[keys[i]]["18-21"] %>
                                </a>
                            </li>
                        <%} if(holder[keys[i]]["21-24"] != undefined) { %>
                            <li>
                                <a href="#">
                                    <label>9 PM to 00 AM --> </label>
                                    <%= holder[keys[i]]["21-24"] %>
                                </a>
                            </li>
                        <%}%>
                

                  </ul>
                </li>
              </ul>
            </div>
          </div>

        <% }%>

      <script>
        $(document).ready(function () {
            $('label.tree-toggler').click(function () {
                $(this).parent().children('ul.tree').toggle(300);
            });
            $(function () {
                $('.tree-toggler').parent().children('ul.tree').toggle(200);
            });
        });

      </script>
      <script type="text/javascript">
        $(function () {
            $('#datetimepicker5').datetimepicker({
                format : 'YYYY-MM-DD HH:mm:ss'
            });
        });
     </script>
</body>
</html>